body{
	
	h3{
		margin-left:15px;
		color:$color;
	}
	span{
		color:$red;
		padding:0;
	}
	ul{
		
		li{
			display: inline-block;
			font-size:15px;
			a{
				text-transform: uppercase;
				color:$color;
				padding:1px;
				margin-left:25px;
			}
			a {
				color:$color;
			}
			a:hover {
				color:$red;
			}
			a:active {
				color:$red;
			}
		}
	}
	hr{
		background-color:$red;
		height: 2px;
	}
	
	.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color:$color;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color:$red;
		display: block;
		transition: 0.3s
	}

	.sidenav a:hover, .offcanvas a:focus{
		color: #f1f1f1;
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	@media screen and (max-height: 450px){
		.sidenav {
			padding-top: 15px;
		}
		.sidenav a {
			font-size: 18px;
		}
	}
	.fdos{
		
		height:250px!important;
	}
	.ftres{
		height:105px;
		padding:0!important;
	}

}		

.social{
	margin:7px 0 10px;
	padding:1px;
	height:50px!important;
	color:$color;
}
div{
	margin-top:5px;

	h6{
		color:$red;
		margin-left:7px!important;
	}			
}

.text{
	color:$color;
	margin-left:10px!important;
	font-size:12px;

}
div{
	h4{
		color:$color;
	}
}
div{
	.material-icons{
		color:$red;
		font-size:14px;
		h6{
			p{
				color:$color;
			}
		}
	}
}
.borde{
	background-color:$grey-line;
	height:1px;

}
//foto portada texto
.primera{
	position:absolute;
}
.cuadro{
	position:relative;
	margin-left:20px;
	color:white;
	background:rgba(0, 0, 0, 0.5);
	margin-top:250px;
}

/*h5{
	position:relative;
	margin-top:70px;
	background-color:$red;
	color:white
}*/

